*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 850px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
}
.img img{
    width: 80px;
    border-radius: 50px;
}
.container .card h3{
    color: #666;
}